@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.App>div {
  width: 100vw;
  min-height: 100vh;

}

@media screen and (max-width: 450px) {
  .App>div {
    min-height: 95vh;
  }
}


/* html>body>#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}








code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Toastify__toast-container {
  position: absolute;
}

.toastify--top-center {
  position: absolute;
}



/** Used to define the position of the ToastContainer **/



.temporary-bounce {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}




/* body::-webkit-scrollbar {
  border-radius: 20px;
  width: 0.2rem;
  height: 0.2rem;

}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(157, 89, 6, 0.302);
  border-radius: 20px;

}

body::-webkit-scrollbar-thumb {
  background-color: #FEDE55;
  border-radius: 20px;
} */


.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}